#butt {
 background-color: green;
 color: white;
}
body {
    background-color: beige;
}

#header1{
    font-family: 'Tangerine', serif;
    font-size: 60px;
    text-align: center;
    color: green;
    font-weight:bolder;
    text-shadow: 6px 4px 4px rgb(216, 35, 171);
    
}
#imag {
    height: 800px;
}
.carousel-inner .carousel-item {
    transition: -webkit-transform 2s ease;
    transition: transform 2s ease;
    transition: transform 2s ease, -webkit-transform 2s ease;
  }